<table class="tablebg" width="100%" cellspacing="1">
<tr> 
	<th class="MainMenuRow" colspan="3"><span class="TableHeader">{L_GROUP_INFORMATION}</span></th>
</tr>
<tr> 
	<td class="BoardRowB" width="20%"><b class="genmed">{L_GROUP_NAME}:</b></td>
	<td class="BoardRowB"><b class="gen"<!-- IF GROUP_COLOR --> style="color:#{GROUP_COLOR}"<!-- ENDIF -->>{GROUP_NAME}</b></td>
<!-- IF AVATAR_IMG or RANK_IMG or GROUP_RANK or U_PM -->
	<td class="BoardRowB" width="33%" rowspan="2" align="center"><!-- IF AVATAR_IMG -->{AVATAR_IMG}<br /><!-- ENDIF --><!-- IF RANK_IMG -->{RANK_IMG}<!-- ENDIF --><!-- IF GROUP_RANK --><span class="gensmall">{GROUP_RANK}</span><br /><br /><!-- ENDIF --><!-- IF U_PM --><a href="{U_PM}">{PM_IMG}</a><!-- ENDIF --></td>
<!-- ENDIF -->
</tr>
<tr> 
	<td class="BoardRowB" width="20%"><b class="genmed">{L_GROUP_DESC}:</b></td>
	<td class="BoardRowB"><span style="font-size:10pt">{GROUP_DESC}</span><p><span class="Explain">{GROUP_TYPE}</span></p></td>
</tr>
</table>