<table class="MainTable" width="100%" cellspacing="0">
<tr>
	<th class="MainMenuRow" align="center"><span class="TableHeader">{L_POST_REVIEW}</span></th>
</tr>
<tr>
	<td class="BoardRowB" align="center"><span class="Explain">{L_POST_REVIEW_EXPLAIN}</span></td>
</tr>
<tr>
	<td class="BoardRowB">
		<table class="BoardRowB" width="100%" cellspacing="0">
		<tr>
			<th width="22%" class="MainMenuRow"><span class="TableHeader">{L_AUTHOR}</span></th>
			<th class="MainMenuRow"><span class="TableHeader">{L_MESSAGE}</span></th>
		</tr>
		<!-- BEGIN post_review_row -->

			<tr class="BoardRowB">

				<td class="BoardRowB" rowspan="2" align="{S_CONTENT_FLOW_BEGIN}" valign="top"><a id="pr{post_review_row.POST_ID}"></a>
					<table width="150" cellspacing="0" cellpadding="4" border="0">
					<tr>
						<td align="center"><b class="postauthor">{post_review_row.POST_AUTHOR_FULL}</b></td>
					</tr>
					</table>
				</td>
				<td class="BoardRowB" width="100%">
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td>&nbsp;</td>
						<td class="Explain" valign="middle" nowrap="nowrap"><b>{L_POST_SUBJECT}:</b>&nbsp;</td>
						<td class="Explain" width="100%" valign="middle">{post_review_row.POST_SUBJECT}</td>
						<td>&nbsp;</td>
					</tr>
					</table>
				</td>
			</tr>

			<!-- IF post_review_row.S_ROW_COUNT is even --><tr class="row1"><!-- ELSE --><tr class="row2"><!-- ENDIF -->

				<td class="BoardRowB" valign="top">
					<table width="100%" cellspacing="0">
					<tr>
						<td valign="top">
							<table width="100%" cellspacing="0" cellpadding="2">
							<tr>
								<td><div class="postbody">{post_review_row.MESSAGE}</div>

								<!-- IF post_review_row.S_HAS_ATTACHMENTS -->
									<br clear="all" /><br />

									<table class="tablebg" width="100%" cellspacing="1">
									<tr>
										<td class="row3"><b>{L_ATTACHMENTS}: </b></td>
									</tr>
									<!-- BEGIN attachment -->
										<tr>
											<td class="BoardRowB">
										</tr>
									<!-- END attachment -->
									</table>
								<!-- ENDIF -->
								
								</td>
							</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tr valign="middle">
								<td width="100%">&nbsp;</td>
								<td width="10" nowrap="nowrap"><!-- IF S_IS_BOT -->{post_review_row.MINI_POST_IMG}<!-- ELSE --><a href="{post_review_row.U_MINI_POST}">{post_review_row.MINI_POST_IMG}</a><!-- ENDIF --></td>
								<td class="gensmall" nowrap="nowrap"><b>{L_POSTED}:</b> {post_review_row.POST_DATE}</td>
							</tr>
							</table>
						</td>
					</tr>
					</table>
				</td>
			</tr>
		<!-- END post_review_row -->
		</table>
	</td>
</tr>
</table>

<br clear="all" />